In [5]:
#Задание 1
#Cкачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
#    Определите какому фильму было выставлено больше всего оценок 5.0.
#
#Задание 2
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 
#за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.
#
#Задание 3
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
#Примеры страниц (необязательно брать именно эти):
#https://fortrader.org/quotes
#https://www.finanz.ru/valyuty/v-realnom-vremeni

In [1]:
import pandas as pd

In [193]:
#задание первое
movie = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')

fivestarrating = rating[rating['rating'] == 5.0]
winner = fivestarrating.groupby('movieId').count().sort_values('rating', ascending = False)

joined = winner.merge(movie, on='movieId', how='left')
joined.head(1)

,movieId,userId,rating,timestamp,title,genres
0,318,153,153,153,"Shawshank Redemption, The (1994)",Crime|Drama

In [5]:
#задание второе

data = pd.read_csv('power.csv')
baltic = data[(data['country']=='Estonia') | (data['country']=='Lithuania') | (data['country']=='Latvia')] 
#print(data)

baltic_positive_quantity = baltic.query(f'quantity > {0}')
sorted_years_before_2010 = baltic_positive_quantity[baltic_positive_quantity.year < 2011]
sorted_yearsall = sorted_years_before_2010[sorted_years_before_2010.year > 2004]
category_sorted = sorted_yearsall[(sorted_yearsall['category']==4) | (sorted_yearsall['category']==12) | (sorted_yearsall['category']==21)]
result = sum(category_sorted['category']) 

print('суммарное потребление стран Прибалтики:', result)

суммарное потребление стран Прибалтики: 5943

In [23]:
#задание третье

tables_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

tables = pd.read_html(tables_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
tables[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1005146      -               988701
 1          NaN            EUR/RUB       901655      -               901795
 2          NaN            USD/RUB       741805      -               740205
 3          NaN            JPY/RUB        07167      -                07156
 4          NaN            CNY/RUB       113396      -               113210
 5          NaN            CHF/RUB       833864      -               832509
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12153      -                12183
 8          NaN            EUR/GBP        09195      -                08987
 9          NaN            EUR/JPY      1257750      -              1257750
 10         NaN            EUR/CHF        10805      -                10805
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08228      -                08141
 13         NaN            USD/GBP        07380      -                07491
 14         NaN            USD/JPY      1035050      -              1036700
 15         NaN            USD/CHF        08896      -                08910
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08000      -                07900
 18         NaN            JPY/GBP        00071      -                00072
 19         NaN            JPY/USD        00097      -                00097
 20         NaN    JPY/CHF (100:1)        08600      -                08600
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13550      -                13571
 23         NaN            GBP/JPY      1402493      -              1381725
 24         NaN            GBP/EUR        11144      -                11139
 25         NaN            GBP/CHF        12050      -                12093
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12050      -                12093
 28         NaN            EUR/CHF        10805      -                10805
 29         NaN    JPY/CHF (100:1)        08600      -                08600
 30         NaN            USD/CHF        08896      -                08910
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       345753      -               348422
 33         NaN            USD/UAH       284500      -               283650
 34         NaN            CHF/UAH       319807      -               318851
 35         NaN            GBP/UAH       385498      -               378673

           %  Абсолютное значение       Время
 0    1,66 %                16445  26.12.2020
 1   -0,02 %               -00140  25.12.2020
 2    0,22 %                01600  26.12.2020
 3    0,16 %                00011  26.12.2020
 4    0,16 %                00185  26.12.2020
 5    0,16 %                01355  26.12.2020
 6         %  Абсолютное значение       Время
 7   -0,24 %               -00030  26.12.2020
 8    2,31 %                00208  26.12.2020
 9    0,00 %                00000  26.12.2020
 10   0,00 %                00000  26.12.2020
 11        %  Абсолютное значение       Время
 12   1,07 %                00087  26.12.2020
 13  -1,48 %               -00111  26.12.2020
 14  -0,16 %               -01650  26.12.2020
 15  -0,16 %               -00014  26.12.2020
 16        %  Абсолютное значение       Время
 17   1,07 %                00001  26.12.2020
 18  -1,48 %               -00001  26.12.2020
 19   0,00 %                00000  26.12.2020
 20  -0,04 %                00000  26.12.2020
 21        %  Абсолютное значение       Время
 22  -0,15 %               -00021  26.12.2020
 23   1,50 %                20768  26.12.2020
 24   0,04 %                00005  25.12.2020
 25  -0,36 %               -00043  26.12.2020
 26        %  Абсолютное значение       Время
 27  -0,36 %               -00043  26.12.2020
 28   0,00 %                00000  26.12.2020
 29  -0,04 %                00000  26.12.2020
 30  -0,16 %               -00014  26.12.2020
 31        %  Абсолютное значение       Время
 32  -0,77 %               -02668  26.12.2020
 33   0,30 %                00850  26.12.2020
 34   0,30 %                00956  26.12.2020
 35   1,80 %                06825  26.12.2020  ]